@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-3">
    <h1 align="center">Welcome to Fast Food App</h1>
    <img src="https://cdn-image.foodandwine.com/sites/default/files/1544458628/GettyImages-769799949.jpg" alt="Italian Trulli" style="width:1020px;height:867px;">
</div>